<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Unfork</title>
</head>
<body bgcolor="black">
    <div class="Main">
        <h1>Unfork</h1>
        <p>Unfork is a tool to help you unfork your GitHub repositories.</p>
        <p>It is a simple web application that allows you to select a repository and unfork it.</p>
        <p>To use it, simply select a repository from the list and click the "Unfork" button.</p>
        <p>It is also open source, so feel free to contribute!......</p>
    </div>

    <div class="Button">
        <button onclick="window.location.href='/login'">Connect to GitHub</button>
    </div>
</body>
</html>
